@import "./variables.scss";

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hide {
  display: none !important;
}

.container {
  position: relative;
  margin: 0 auto;
  font-size: 13px;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;

  .hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    z-index: 0;
    pointer-events: none;
  }

  .player-container {
    outline: none;
    >div,
    >video,
    >.dailymotion,
    iframe {
      width: 100%;
      height: 100%;
      outline: none;
    }
    &.seeking iframe {
      pointer-events: none;
    }
  }

  >.sticky {
    &.player {
      position: fixed;
      z-index: $player-z;
      animation: fade-in .5s ease forwards;

      &.st-top-right {
        top: $sticky-padding;
        right: $sticky-padding;
        transform: translateY(-100%);
      }
      &.st-top-left {
          top: $sticky-padding;
          left: $sticky-padding;
          transform: translateY(-100%);
      }
      &.st-bottom-right {
        right: $sticky-padding;
        bottom: $sticky-padding;
        transform: translateY(100%);
      }
      &.st-bottom-left {
        bottom: $sticky-padding;
        left: $sticky-padding;
        transform: translateY(100%);
      }
    }
  }

  >.full-page {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $player-z;
    width: 100% !important;
    height: 100% !important;
    background-color: #000;
  }

  >.player {
    outline: none;
  }
}
