$player-z: 1000;
$controls-z: 2000;
$sticky-padding: 20px;
$controls-visual-height: 41px;
$progress-visual-height: 3px;
$progress-hover-height: 21px;
$progress-hover-visual-height: 5px;
$progress-height: ($progress-hover-height + $progress-visual-height) / 2;
$progress-dot-height: 13px;
$progress-bg-color: rgba(255, 255, 255, .2);
$progress-loaded-color: rgba(255, 255, 255, .4);
$progress-hover-color: rgba(255,255,255,.5);
$progress-played-color: red;


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hide {
  display: none !important;
}

.container {
  position: relative;
  margin: 0 auto;
  font-size: 13px;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;

  .hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    z-index: 0;
    pointer-events: none;
  }

  .player-container {
    outline: none;
    >div,
    >video,
    >.dailymotion,
    iframe {
      width: 100%;
      height: 100%;
      outline: none;
    }
    &.seeking iframe {
      pointer-events: none;
    }
  }

  >.sticky {
    &.player {
      position: fixed;
      z-index: $player-z;
      animation: fade-in .5s ease forwards;

      &.st-top-right {
        top: $sticky-padding;
        right: $sticky-padding;
        transform: translateY(-100%);
      }
      &.st-top-left {
          top: $sticky-padding;
          left: $sticky-padding;
          transform: translateY(-100%);
      }
      &.st-bottom-right {
        right: $sticky-padding;
        bottom: $sticky-padding;
        transform: translateY(100%);
      }
      &.st-bottom-left {
        bottom: $sticky-padding;
        left: $sticky-padding;
        transform: translateY(100%);
      }
    }
  }

  >.full-page {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $player-z;
    width: 100% !important;
    height: 100% !important;
    background-color: #000;
  }

  >.player {
    outline: none;

    .play-circle {
      position: absolute;
      top: calc(50% - 40px);
      left: calc(50% - 40px);
      width: 80px;
      height: 80px;
      background-color: #fff;
      border-radius: 50%;
      display: inline-block;
      pointer-events: none;
    }
    .play-icon-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 84px;
      pointer-events: none;
      >svg {
        color: #dd4400;
      }
    }
    >.gradient-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: $controls-z;
      width: 100%;
      height: 98px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==) repeat-x bottom;
    }
    >.controls {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: $controls-z + 1;
      width: 100%;
      height: $controls-visual-height + $progress-height - $progress-visual-height;
      padding: 0 20px;
      >.progress-container {
        height: $progress-height;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        .progress {
          position: relative;
          height: $progress-visual-height;
          width: 100%;
          &::before {
            content: "";
            width: 100%;
            background-color: $progress-bg-color;
          }
          &::after {
            content: "";
            position: absolute;
            top: ($progress-visual-height - $progress-hover-height) / 2;
            left: 0;
            width: 100%;
            height: $progress-hover-height;
            display: none;
          }
        }
        .tooltip-container {
          position: absolute;
          bottom: 6px;
          text-align: center;
          .tooltip-text {
            border-radius: 2px;
            padding: 5px 9px;
            color: #fff;
            background-color: rgba(28,28,28,0.9);
            display: inline-block;
          }
        }
        .progress::before,
        .progress-loaded,
        .progress-hover,
        .progress-played {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
        }
        .progress-loaded {
          background-color: $progress-loaded-color;
        }
        .progress-hover {
          background-color: $progress-hover-color;
        }
        .progress-played {
          background-color: $progress-played-color;
        }
        .progress-dot {
          position: relative;
          width: 100%;
          height: 100%;
          display: none;
          &::after {
            content: "";
            position: absolute;
            top: ($progress-hover-visual-height - $progress-dot-height) / 2;
            right: -$progress-dot-height / 2;
            height: $progress-dot-height;
            width: $progress-dot-height;
            background-color: $progress-played-color;
            border-radius: 50%;
            display: inline-block; 
          }
        }
        &:hover {
          .progress::before,
          .progress-loaded,
          .progress-hover,
          .progress-played {
            top: ($progress-visual-height - $progress-hover-visual-height) / 2;
            height: $progress-hover-visual-height;
          }
          .progress::after,
          .progress-dot {
            display: block;
          }
        }
      }
      >.buttons {
        height: 38px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        >.flex1 {
          flex: 1;
        }
        >.icon {
          width: 40px;
          height: 100%;
          border: none;
          padding: 10px 7px;
          font-size: 16px;
          color: #c9c9c9;
          background-color: transparent;
          outline: none;
          cursor: pointer;
          vertical-align: middle;
          box-sizing: border-box;
          display: inline-block;
          &[disabled] {
            cursor: not-allowed;
          }
        }
        >.time-container {
          text-align: left;
          .time-current,
          .time-duration {
            color: #eee;
          }
          .time-separator {
            color: #ddd;
          }
        }
      }
    }
  }
  >.player.focus {
    >.gradient-bottom {
      display: block;
    }
    >.controls {
      display: block;
    }
  }
}
